.graph
    text-align: center
    border-left-style: solid
    border-bottom-style: solid
    border-left-width: 2%
    border-bottom-width: 2%
    padding-left: 8%
    padding-right: 8%
    margin-left: 0
    margin-right: 0
    padding-top: 45%
    margin-top:0
    margin-bottom: 0
    padding-bottom:0
    border-color: #19195E
